<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863509680097-8n4q0lr1n2robfp1fgjpltrqrkqcgkva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863509680097-8n4q0lr1n2robfp1fgjpltrqrkqcgkva</string>
	<key>API_KEY</key>
	<string>AIzaSyBKXpv9bNZqbcZk8PMu1zdohpPvJpB1pPE</string>
	<key>GCM_SENDER_ID</key>
	<string>863509680097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connect.reconnect</string>
	<key>PROJECT_ID</key>
	<string>reconnect-eddf2</string>
	<key>STORAGE_BUCKET</key>
	<string>reconnect-eddf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863509680097:ios:35dda4d1dcd8b26aeccca0</string>
	<key>DATABASE_URL</key>
	<string>https://reconnect-eddf2.firebaseio.com</string>
</dict>
</plist>